.buildpath
.project
composer.lock
composer.phar
.settings/
build/
vendor/symfony/
vendor/bin/
vendor/doctrine/
vendor/silex/
vendor/pimple/
vendor/autoload.php
vendor/composer/
vendor/fabpot/
vendor/guzzle/
vendor/.composer/
nbproject/
