.buildpath
.project
composer.lock
composer.phar
.settings/
log/live.log
build/
vendor/monolog/
vendor/symfony/
vendor/bin/
vendor/doctrine/
vendor/silex/
vendor/pimple/
vendor/autoload.php
vendor/composer/
vendor/fabpot/
vendor/guzzle/
vendor/.composer/
vendor/psr/
nbproject/
*.log
